body
{
  margin: auto;
  background-color: #EEEEEE;
  margin-top: 70px;
}
#content
{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding: 30px;
  word-wrap: break-word;
}
p
{
  font-family: 'Roboto', sans-serif;
  color: #414141;
}
h1
{
  font-family: 'UnifrakturMaguntia', cursive;
}
h2
{
  font-family: 'Cinzel Decorative', cursive;
}
em
{
  font-family: 'Roboto', sans-serif;
  color: #626262
}
strong
{
  font-family: 'Roboto', sans-serif;
  color: #856865
}
#nav
{
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
li
{
  float: left;
}
li a
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active)
{
  background-color: grey;
}
p, h1, h2, em, strong
{
  font-weight: normal;
  font-style: normal;
}
