p
{
    color: #414141;
    font-family: 'Varela Round', sans-serif;
}
h1
{
    font-family: 'UnifrakturMaguntia', cursive;
}
h2
{
    font-family: 'Cinzel Decorative', cursive;
}
em
{
    color: #626262
}
strong
{
    color: #8C2D2D
}
.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    justify-content: space-between;
    color: blue;
    z-index: 10;
}
